

NODE_ENV=development
PORT=3000

DB_HOST=aws-1-ap-northeast-2.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.uujltuaoxtwqbourrkmy
DB_PASSWORD=HV7y0lk0y5iQQbIe

JWT_SECRET=dev-secret-change-me-in-production
JWT_EXPIRES_IN=1h

# CORS 허용 origin 목록 (쉼표로 구분, 와일드카드 "*"는 모든 origin 허용)
CORS_ORIGIN=hppts://skjo-todolist-be.vecel.app

